body {
    font-family: Arial, sans-serif;
    background-image: url(IM1.jpg);

}
    


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #60665b;
    border-radius: 5px;
   

}

h1 {
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
  
}


label {
    font-weight: bold;
}

input,
button {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #9c8686;
}

button {
    background-color: #007bff;
    color: #3b3737;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
}

#mensaje {
    margin-top: 20px;
    font-weight: bold;
}
   
