.body{
    font-family: 'Times New Roman', Times, serif;
   
}

header{
    display: flex;

    align-items: center;
    justify-content: space-between;
    background-color:  #d8cad4;
    padding: 10px;
    height: 63;
    color: #110f0f;
    text-align:  center ;
}img{
    width: 350px; 
    height: 240px;
    text-align: center;
    border-radius: 50%;
 }h2{
    padding: 20px;
    color: #110f0f;
    background-color:  #1ae353;
    
 
}
table { 
    border-collapse: collapse; 
    margin: 25px 0; 
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(230, 87, 199, 0.15); 
   
}

table th, table td { 
    padding: 12px 15px;
    
 }
 table thead  {
    background-color: #ecc4c4;
    border-bottom: 2px solid #009879; 
   
 }
 table tbody tr { 
    
    border-bottom: 2px solid #009879; 
} 
table tbody tr:nth-of-type(even)
 { 
    border-bottom: 2px solid #009879; 
 }
 table tbody tr:last-of-type { 
    border-bottom: 2px solid #009879; 
}