/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8e969b;
    
    
}

header, footer {
    background-color: #1d1a1a;
    color: #131111;
    padding: 10px;
    text-align: center;
    }

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centra horizontalmente */
}

section {
    background-color: #c2f1c2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(34, 25, 25, 0.1);
    width: 80%;
    max-width: 600px;
   
   
}

    


h2 {
    text-align: center;
    color: #242121;
    margin-bottom: 20px;

}

/* Estilos para los campos de edad y médicos */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0a0b0c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    resize: vertical;
   
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}