.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.registration-form {
    background: #fff;
    border-radius: 5px;
    padding: 40px;
    max-width: 300px;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.registration-form label {
    
    margin-bottom: 10px;
}
.registration-form input,
.registration-form textarea,
.registration-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.registration-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.registration-form button:hover {
    background-color: #555;
}