 /* Estilos básicos para mejorar la apariencia de la página */
 body {
    font-family: Arial, sans-serif;
    background-color: rgb(207, 229, 247);
}
        
header {
    background: linear-gradient(150deg, hsl(0, 100%, 88%), #bd0202, #cc0108, #ff8383);
    color: #fff;
    text-align: center;
    padding: 25px;

}

.bienvenido {
    margin-left: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}


.logo img {
    width: 170px;
    height: 150px;
    vertical-align: middle;
    float: left;


}

nav {
    background-color: #111111;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
footer {
background: linear-gradient(150deg, hsl(0, 100%, 88%), #bd0202, #cc0108, #ff8383);
color: #ffffff;
text-align: center;
padding: 40px;
margin-top: 0px; /* Agrega margen superior para separar el pie de página */
}
.slideshow-container {

    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(26, 21, 19, 0.8);
  }
  
  
  body{
    font-family: Arial, sans-serif;
    background-color: #e43333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #d82a1e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact-info {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.form-container {
    text-align: center;
    padding: 20px;
}

.form-container input[type=text] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ca1a1a;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.form-container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type=submit]:hover {
    background-color: #45a049;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #e60e0e;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.product img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}



  
  
  