body {
    font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #ffffff, #ffffff, #ffffff, #ffffff);
    margin: 0;
    height: vh;
    padding: 0;

}


header {
    background: linear-gradient(150deg, hsl(0, 100%, 88%), #bd0202, #cc0108, #ff8383);
    color: #fff;
    text-align: center;
    padding: 25px;

}

.bienvenido {
    margin-left: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

 
.logo img {
    width: 170px;
    height: 150px;
    vertical-align: middle;
    float: left;


}
nav {
    background-color: #111111;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 0px;
}


.principal {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

}

.contenedor-imagen {
    position: relative;
}


.lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.lista li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin: 0 100px;
}

.lista img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}



.lista a:hover {
    background-color: #003c7c;
}

.contenedor-queofrecemos {
    position: relative;
}



.contenedor-pqelegirnos {
    position: relative;
}

p {
    color: #464646;
}


footer {
    background: linear-gradient(150deg, hsl(0, 100%, 88%), #bd0202, #cc0108, #ff8383);
     color: #ffffff;
     text-align: center;
     padding: 20px;
     margin-top: 0px; /* Agrega margen superior para separar el pie de página */
 }     
.copy {

    color: #fff8f8;

}