body {
    font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #ffffff, #ffffff, #ffffff, #ffffff);
    margin: 0;
    height: vh;
    padding: 0;
  
  }
  
  
  header {
    background: linear-gradient(150deg, hsl(0, 100%, 88%), #bd0202, #cc0108, #ff8383);
    color: #fff;
    text-align: center;
    padding: 25px;
  
  }
  
  .bienvenido {
    margin-left: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
  }
  
  
  .logo img {
    width: 170px;
    height: 150px;
    vertical-align: middle;
    float: left;
  
  
  }
  
  nav {
    background-color: #111111;
    color: #e7aaaa;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 40px;
  }
  
  nav a {
    text-decoration: none;
    color: #eda7a7;
  }
  
  section {
    padding: 0px;
  }
  
  #goHomeButton {
    position: absolute;
    text-decoration: none;
    top: 200px;
    /* Distancia desde la parte superior de la página */
    left: 10px;
    /* Distancia desde la izquierda de la página */
    flex-basis: 40%;
    min-width: 150px;
    font-size: 15px;
    background-color: rgb(238, 12, 12);
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background: #8281814e;
    padding: 50px;
    border: 1px solid #f8efef;
    border-radius: 5px;
  }
  
  .container {
    margin-top: 100px;
    /* Ajusta esta distancia según tus necesidades */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #faf2f5;
    border-radius: 5px;
  
  }
  
  input[type="submit"] {
    background-color: #ff0000;
    /* Cambia #ff0000 al color que desees */
    color: #ffffff;
    /* Cambia #fff al color del texto deseado */
    padding: 10px 20px;
    font-size: 18px;
    /* Ajusta el padding según tus preferencias */
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #ff6666;
    /* Cambia al color deseado cuando el cursor esté sobre el botón */
  }
  
  
  button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    color: #FF0000;
  }
  
  footer {
    background: linear-gradient(150deg, hsl(0, 100%, 88%), #bd0202, #cc0108, #ff8383);
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  
  .copy {
  
    color: #c7c6c6;
  
  }