body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
    
}

header {
    background: linear-gradient(150deg, hsl(0, 100%, 88%), #bd0202, #cc0108, #ff8383);
    color: #fff;
    text-align: center;
    padding: 25px;
    
   

}

.bienvenido {
    margin-left: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
   
    }


.logo img {
    width: 170px;
    height: 150px;
    vertical-align: middle;
    float: left;
    text-decoration: none;
}




nav {
   
    background-color: #111111;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 50px;
    
}

nav a {
    text-decoration: none;
    color: #fff;
    
}

section {
    padding: 10px;
  
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
 
    
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
   
}
footer {
    background: linear-gradient(150deg, hsl(0, 100%, 88%), #bd0202, #cc0108, #ff8383);
     color: #ffffff;
     text-align: center;
     
     
    padding: 40px;
     margin-top: 0px; /* Agrega margen superior para separar el pie de página */
 }     
 h3{
    text-decoration: none;
    color:#111111;

 }p{
    color: #333;

 } * {
    
    text-decoration: none;
}